/* App.css */

body {
    background: linear-gradient(135deg, #ea9d66, #764ba2);
    overflow-x: hidden;
    color: #3f465e;
    font-family: 'Lato', sans-serif;
}
.app-container {
    position: relative;
    height: 100%;
}
